body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #060708, #04023f, #060708);
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    position: relative;
    z-index: 1;
}

.card {
    font-size: 1rem;
    color: #bec4cf;
    background: linear-gradient(135deg, #171f3b 0%, #3a4b8a 43%, #171f3b 100%);
    padding: 2rem;
    border: 2px ridge #9aa2e3;
    border-radius: 1.2rem;
    box-shadow: 10px 10px 7px #03050c;
    max-width: 500px;
}

.card h1 {
    color: #fff;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.card p {
    margin-bottom: 1rem;
    line-height: 1.5;
}

.buttons {
    display: flex;
    gap: 10px;
}

.btn {
    background-color: #3c4faf;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 0.8rem;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
    box-shadow: 3px 3px 3px #0a0f25;
}

.btn:hover {
    background-color: #151e4d;
}

.image-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 50vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
}

/* From Uiverse.io by Yaya12085 */ 
.cookie-card {
  max-width: 320px;
  padding: 1rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, .05);
}

.title {
  font-weight: 600;
  color: rgb(31 41 55);
}

.description {
  margin-top: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(75 85 99);
}

.description a {
  --tw-text-opacity: 1;
  color: rgb(59 130 246);
}

.description a:hover {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  flex-shrink: 0;
}

.pref {
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgb(31 41 55 );
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  transition: all .3s cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
  background-color: transparent;
}

.pref:hover {
  color: rgb(156 163 175);
}

.pref:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.accept {
  font-size: 0.75rem;
  line-height: 1rem;
  background-color: rgb(17 24 39);
  font-weight: 500;
  border-radius: 0.5rem;
  color: #fff;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  border: none;
  transition: all .15s cubic-bezier(0.4, 0, 0.2, 1);
}

.accept:hover {
  background-color: rgb(55 65 81);
}

.accept:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}