<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar</title>
    <link rel="stylesheet" th:href="@{/css/cadastro.css}">
</head>
<body>
    <div class="container">
        <form id="formRegister" class="form">
            <p class="title">Cadastrar</p>
            <p class="message">Cadastre-se agora e tenha acesso completo ao app.</p>

            <div class="flex">
                <label>
                    <input type="text" class="input required" placeholder="" name="login" oninput="nameValidate()" required>
                    <span class="span-required">Nome Completo</span>
                </label>
            </div>

            <div class="flex">
                <label>
                    <input type="email" class="input required" placeholder="" name="email" oninput="emailValidate()" required>
                    <span class="span-required">Email</span>
                </label>
            </div>

            <div class="flex">
                <label>
                    <input type="password" class="input required" placeholder="" name="password" oninput="passwordValidate()" required>
                    <span class="span-required">Senha</span>
                </label>
            </div>

            <div class="flex">
                <label>
                    <input type="text" class="input required" placeholder="" name="role" oninput="roleValidate()" required>
                    <span class="span-required">Usuário (Admin ou User)</span>
                </label>
            </div>

            <button type="submit" class="submit">Enviar</button>
            <p class="signin">Já possui conta? <a th:href="@{/login}">Logar</a></p>
            <p class="signin"><a th:href="@{/}">Voltar</a></p>
        </form>
    </div>

    <script src="/js/register.js"></script>
</body>
</html>
