<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
  <div class="container">
    <form id="formLogin" class="form">
      <p class="title">Entrar</p>

      <div class="flex">
        <label class="form-label">Username</label>
        <input type="text" id="login" class="input required" placeholder="Digite seu username" required>
        <span class="span-required"></span>
      </div>

      <div class="flex">
        <label class="form-label">Senha</label>
        <input type="password" id="password" class="input required" placeholder="Digite sua senha" required>
        <span class="span-required"></span>
      </div>

      <button type="submit" id="loginButton" class="submit">Entrar</button>

      <p class="signin">Não tem uma conta? <a th:href="@{/cadastrar}">Cadastre-se</a></p>
    </form>
  </div>

  <script src="/js/login.js"></script>
</body>
</html>
